<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/MathJax-2.0-min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/scripts/jquery-1.11.3.min.js"></script>
<script>
  $(function(){
    var $category = $('ul#java-posts li:gt(8):not(:last)');
    $category.hide();
    var $toggleBtn=$('div.java-showmore > a') ;
    $toggleBtn.click(function(){
      if($category.is(":visible")){
            $category.hide() ;
            $('div.java-showmore a span')
              .text("More...") ;
          }else{
            $category.show() ;
            $('div.java-showmore a span')
            .text("Less") ;
          }
          return false ;
    })
  })

  $(function(){
    var $category = $('ul#diary-posts li:gt(8):not(:last)');
    $category.hide();
    var $toggleBtn=$('div.diary-showmore > a') ;
    $toggleBtn.click(function(){
      if($category.is(":visible")){
            $category.hide() ;
            $('div.diary-showmore a span')
              .text("More...") ;
          }else{
            $category.show() ;
            $('div.diary-showmore a span')
            .text("Less") ;
          }
          return false ;
    })
  })
</script>
