Follow me:
<div id="stalker">
  {% if site.profile.social.github %}
  <a title="{{ site.profile.social.github }} on Github" href="https://github.com/{{ site.profile.social.github }}">
    <i class="fa fa-github-square"></i>
  </a>
  {% endif %}

  {% if site.profile.social.twitter %}
  <a title="{{ site.profile.social.twitter }} on Twitter" href="https://twitter.com/{{ site.profile.social.twitter }}">
    <i class="fa fa-twitter-square"></i>
  </a>
  {% endif %}

  {% if site.profile.social.facebook %}
  <a title="{{ site.profile.name }} on Facebook" href="https://facebook.com/{{ site.profile.social.facebook }}">
    <i class="fa fa-facebook-square"></i>
  </a>
  {% endif %}

  {% if site.profile.social.gplus %}
  <a title="{{ site.profile.name }} on Google Plus" href="https://plus.google.com/{{ site.profile.social.gplus }}">
    <i class="fa fa-google-plus-square"></i>
  </a>
  {% endif %}

</div>
